/ThogaKade/nbproject/private/
/ThogaKade/build/
/calculator-demo/nbproject/private/
/calculator-demo/build/
/Thogakade/nbproject/private/
/Thogakade/build/
/cierra-wholesale-pos/nbproject/private/
/cierra-wholesale-pos/build/
/cierra-wholesale-pos/dist/
